.App {
  background-color: yellowgreen;
}
.container {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 1px;
  background-color: gray;
}
.btn {
  font-size: 400%;
  border: none;
  background-color: yellow;
  padding: 10px;
  height: 100%;
  width:100%;
}
li {
  list-style: none;
}
header,
h1,
footer {
  font-size: 100%;
  text-align: center;
}
